*{
    text-decoration: none;
    color: black;
}

.container-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(100px,auto);
    grid-gap: 1em;
}

.element-service{
    border: 1px solid grey;
    width: 90%;
    margin: 10px auto;
    text-align: center;
}
.element-service h1{
    font-size: 14px;
}
.list{
    text-align: start;
}
.list li{
    padding: 5px;
}
.list li:hover{
    text-overflow: inherit;
}


