#error-page{
    margin-top: 10%

}
.error-contant{
    width: 100vh;
    padding-left: 40px;
}
#error-page p{
    font-size: 30px;
    color: #005FA3;
}
#error-page h1{
    font-size: 50px;
    color: #005FA3;
}